{% extends "tasks/base.html" %} {% load static %}{% block title %} Tasks
{% endblock%} {% block content%}
<div class="container">
  <h1>Tasks</h1>
  <ul>
    {% for task in tasks %}
    <li>{{ task.title }} | Task ID = {{ task.id }} </li>
    <ul>Description: {{ task.description }}</ul>
    <ul>Assigned to: {{ task.assigned_to }}</ul>
    <ul>Due Date: {{ task.task_due_date }}</ul>
    <ul>Task Completed? {{ task.completed }}</ul>
    {% endfor %}
  </ul>
</div>
{% endblock %} {% block jsfiles %} {% endblock jsfiles %}
